@charset "utf-8";
body { background-color:#82C46C; margin:0; padding:0; width:100%; color:#5f5f5f; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background-color:#D6D6D6;}
/*titres paragraphes et liens*/
h1 { margin:0; padding:12px 0; color:#0B6409; font:normal 40px/1.2em Arial, Helvetica, sans-serif;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h2 { font:bold 24px Arial, Helvetica, sans-serif; color:#0B6409; padding:8px 0; margin:8px 0;}
h2.center{text-align: center;}
h3 { font-weight: bold; color:0B6409; padding:8px 0; margin:8px 0;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#81b436; text-decoration:underline;}
.center{text-align:center;}

/*formatage site*/
#site{
    width:1200px;
    min-height: 500px;
    background-color:#D6D6D6;
    border-radius:12px; 
    -moz-border-radius:12px; 
    -webkit-border-radius:12px;
    margin: 0 auto;
    padding-top: 5%;
}

/* content */
.content { background-color:white;
           width: 1100px;
           padding:13px;
           margin: auto;
           min-height: 800px;}

header{
    width: 1100px;
    height: 131px;
    background-color: #04B431;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}
footer{
    width: 1100px;
    height: 50px;
    margin:auto;
    color:white;
    font-weight: bold;
    background-color: black;
    text-align:center;
    border : 1px #08AC55;
}
/* menu */
#menu { width:500px;}
#menu ul { list-style:none; background:url(../images/menu.gif) repeat-x top;}
#menu ul li { text-align:center; width:85px; font-size: 1em; margin-left:25px; margin-top:-0.2em; float:left;}
#menu ul li a {  display:block; margin:0; padding:0.3em 0.3em; color:black; text-decoration:none; background-color:#A3DB59; min-height:55px;}
/*#menu ul li a { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}*/
#menu ul li a:hover, .menu ul li.active a { width:8em;color:black; font-weight:bold;}

/* sous menu */
#sousmenu { width:100%; height: 100%; }
#sousmenu ul { list-style:none; background:url(../images/menu.gif) repeat-x top;}
#sousmenu ul li { text-align:center; width:7em ; font-size: 1em; float:left;}
#sousmenu ul li a {  display:block; margin-left:10px; padding:0.3em 0.3em; color:#fff; text-decoration:none; background-color:#81bb35;}
#sousmenu ul li a:hover, .menu ul li.active a { background-color:#8fd533;}

/*Barre de l'utilisateur'*/
#BarreUti {
    background-color: black;
    margin-bottom: 1px;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    border : 1px #08AC55;
}
/*Message dans la barre*/
.messagebonjour{
    margin-left:8%;
    margin-top: 12px;
    float:left;
    font-size:1.5em;
    color:white;
    font-style:bold;
    font-family:Arial, Helvetica, sans-serif;
}

.nb_troc{
    padding:5px;
    background-color: #D3E0C1;
    color:black;
    float: right;
    margin-top: 9px;
    margin-right:10px;
    font-size:1.5em;
    font-weight: bold;
    font-family:initial;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}

#BarreUti ul { list-style:none; background:url(images/menu.gif) repeat-x top; margin-right:8%; float:right;}
#BarreUti ul li { width:10em ; text-align:center;margin-left:0.4em; margin-top:-0.2em; float:right;}
#BarreUti ul li a { display:block; margin:0; padding:0.3em 0.3em; color:black; text-decoration:none; background-color:#D3E0C1;}
#BarreUti ul li a { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
#BarreUti ul li a:hover, .menu ul li.active a { font-weight: bold;}
#BarreUti h4 .connexion{font-size: 100%;}

div.div_form_co{
    width:30%;
    margin-left:40%;
}
/*les biens*/
.lesbiens{
    margin-top:175px;
    margin-left:300px;
}
.unbien{
    border-bottom: 1px solid black;
}
/*Gestion utilisateur*/
table.gestion{
    margin:auto;
}
table.gestion td{
    padding:5px;
}
.logo{
    display:block;
    margin:auto;
    width:150px;
}
.avatar_gestion{
    display:block;
    margin:auto;
    width:150px;
}
.gestion_informations{
    width:550px;
    float:left;
}
.page_gestion_cpt{
    min-height: 700px;
}
.gestion_portemonnaire{
    padding-left:20px;
    min-height:450px;
    width:500px;
    float:right;
    border-left:1px solid black;
}
.gestion_historique{
    width:100%;
    margin-top:500px;
    min-height: 100px;
}

/*Menu categorie biens/services*/
.menu_categorie{
    float:left;
    width:250px;
    border-right:1px solid black;
}
div.filtre_recherche{
    float:right;
    border-bottom: 1px solid black;
    width:650px;
}
h3.bouton_filtre{
    width: 300px;
    height: 30px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    color: black;
    background: white;
    float:left;
}
h3.bouton_filtre:hover{
    width: 300px;
    height: 30px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    color: white;
    background: black;
}
/*Message erreur*/
div.warning{
    margin:auto;
    width:50%; 
    border:1px solid #f46767; 
    margin-bottom:10px; 
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left:40px;
    background:#ffcccc url('images/warning.png') no-repeat; 
    font-weight: bold;
    color:#B9121B;
}
/*Message succès*/
div.success{
    margin:auto;
    width:50%; 
    border:1px solid #DFF2BF;
    margin-bottom:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left:40px;
    color: #4F8A10;
    font-weight: bold;
    background: #DFF2BF url('images/success.png')  no-repeat;
}

table.tab_visible tr th td{
    margin:auto;
    text-align:center;
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}
table.tab_visible tr th{
    margin:auto;
    text-align:center;
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}

table.tab_visible tr{
    margin:auto;
    text-align:center;
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
}
td.tab_nonvisible{
    margin:auto;
    border: 0;
    border-collapse: collapse;
}